.Statistic {
    max-width: 920px;
}

.statistic {
    margin-bottom: 10px;
    justify-content: space-between;
}

.statistic_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background: #fff;
    border-bottom: 2px solid #e2e2e2;
}

.statistic_block_item {
    max-width: calc(100%/3 - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px;
    margin: 5px;
    text-align: center;
    border: 1px solid #ebebeb;
}

.statistic_block_item span {
    font-size: 1.4em;
    color: #41a200;
    font-weight: 600;
    padding-top: 20px;
}

.statistic_block_item p {
    color: #888;
    text-transform: uppercase;
    font-size: 9pt;
}

.content_block {
    display: flex;
    justify-content: space-between;
}

.content_block_item {
    width: 300px;
    padding: 30px 50px;
    background: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #e2e2e2;
    text-align: center;
}

.content_block_item:last-child {
    margin-right: 0;
}

.content_block_item span {
    font-size: 1.4em;
    color: #41a200;
    font-weight: 600;
    padding-top: 20px;
}

.content_block_item p {
    color: #888;
    text-transform: uppercase;
    font-size: 9pt;
}